body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    font-family: Arial;
}

.register {
    width: 500px !important;
}

.box {
    width: fit-content;
    border: solid 1px white;
    box-shadow: 5px 5px 10px cornflowerblue;
    padding: 20px;
    padding-top: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.box .header {
    color: white;
}

.input-group {
    position: relative;
    color: rgb(123, 123, 139);
}

.input {
    padding: 10px;
    padding-right: 250px;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform.25s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform: translate(10px, -14px) scale(.8);
    color: #d1c5fc;
    padding-inline: 5px;
    background-color: #242329;
    border-radius: 7px;
}

.input:is(:focus, :valid) {
    outline-color: #d1c5fc;
}

.login {
    text-align: center;
}

.button-input {
    display: grid;
    height: 40px;
    margin-top: 30px;
}

.button-input button {
    background-color: limegreen;
    color: white;
    font-size: 15px;
    border: none;
}

.button-input button:hover {
    background-color: rgb(0, 195, 0);
    transition: 0.5s;
}