body {
    /*  background-color: #f7ce0485; */
    background-image: url("http://localhost/pendataan-media/album/bg.png");
    background-repeat: repeat;
    padding-top: 80px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
}

div.leaflet-interactive {
    cursor: crosshair;
    width: 10px !important;
    height: 10px !important;
    margin-left: -5px !important;
    margin-top: -5px !important;
}

.leaflet-container {
    background: #fff !important;
}

.custom-tooltip.tooltip>.tooltip-inner {
    text-align: left;
    max-width: 500px;
    padding: 10px;
}

.navbarTop {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-color: #e2e8f0;
    border-style: solid;
}

.nav-custom {
    border-bottom: 2px solid #dee2e6;
}

.nav-custom .nav-item.show .nav-link,
.nav-custom .nav-link.active {
    color: #495057;
    background-color: #f7fafc;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-custom .nav-link {
    margin-bottom: 0;
    background: none;
    border: none;
    border-bottom: 5px solid #0dcaf0 !important;
}

.tab-custom .nav-link.active,
.tab-custom .nav-link.active:hover,
.tab-custom .show>.nav-link {
    color: #fff;
    background-color: #00c0ef;
}

.tab-custom .nav-link {
    color: rgba(0, 0, 0, .55);
    font-weight: 500;
}

.tab-custom .nav-link:hover {
    color: rgba(0, 0, 0, .70);
}

.card-header {
    background-color: white !important;
}

.tb-responsive .row:first-child,
.tb-responsive .row:last-child {
    padding: 10px;
}

.tb-responsive .table-bordered {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

.leaflet-popup {
    width: 300px !important;
}

.leaflet-popup-content table {
    width: 100%;
}

.leaflet-popup-content table,
.leaflet-popup-content th,
.leaflet-popup-content td {
    border: 1px solid #ccc;
    padding: 5px;
}

.leaflet-popup-content p {
    margin-bottom: 10px;
}

.leaflet-popup-close-button {
    display: none;
}

.navbar-nav a {
    font-size: 14px;
}

.card-home .card-title {
    font-size: 17px;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    font-size: 17px;
    margin-bottom: 0;
}

.card-header .fa {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
}

.navbar-nav .dropdown-menu .dropdown-item a {
    color: rgba(0, 0, 0, .55);
    padding: 0;
    text-decoration: none;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}


/* ============ desktop view .end// ============ */


/* ============ small devices ============ */

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}


/* ============ small devices .end// ============ */

.welcome {
    background-color: #0f51322e;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 200px;
}